# LangChain & ecosystem
langchain==0.1.17
langchain_core==0.1.51
langchain_community==0.0.38
langchain_openai==0.1.8
langchain_chroma==0.1.0
langchain_huggingface==0.0.3
langchain_groq==0.0.2

# Vector DBs
chromadb==0.4.22
faiss-cpu==1.7.4
sentence-transformers==2.6.1
llama-index-embeddings-ollama==0.1.3

# Document loaders
PyPDF==3.17.4
pymupdf==1.23.7
beautifulsoup4==4.12.3
arxiv==2.1.0

# Web scraping
playwright==1.44.0

# Utilities
python-dotenv==1.0.1
ipykernel==6.29.4

# ML
scikit-learn==1.4.2

# Optional backend (if using LangServe)
fastapi==0.110.2
uvicorn==0.29.0
langserve==0.0.51
sse_starlette==1.8.1

# UI
streamlit==1.35.0

# Force Pydantic to work with LangChain & Python ≤ 3.11
pydantic==1.10.13
